html{
  overflow-x: hidden;
  overflow-y: auto;
}
body{
  margin: 0;
  padding: 0;
}
.page{
  position: absolute;
  height: 95%;
  width: 100%;
  background-color:  #bb8fce;
}

.titleContainer{
  height: 50px;
  width: 300px;
  position: relative;
  bottom: 20px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #85c1e9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.titleContainer #title{
  text-align: center;
  font-size: 32px;
  font-family: "Merienda";
  color: white;
}

.canvas{
  /* height: 480px;
  width: 480px; */
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box{
  outline: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
  float: left;
}


.toolbar{
  height: 100px;
  width: 600px;
  background-color:  #2e86c1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.toolbar div{
  margin: auto 10px;
}
.clearContainer, .sizeContainer{
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
  display: inline-block;
  left: 30px;
}

#clearButton, #sizeButton{
  height: 40px;
  width: 80px;
  background-color: #a569bd;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Merienda", sans-serif;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#clearButton:hover, #sizeButton:hover{
  background-color:  #9b59b6;
}

.opacityContainer{
  height: 50px;
  width: 100px;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 30px;
}
.toggleSwitches{
  display: inline-block;
  float: right;
  position: relative;
  top: 12px;
  left: 8px;
}
.colorContainer, .eraseContainer{
  height: 40px;
  width: 130px;
  background-color: #a569bd;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.eraseContainer{
  position: relative;
  bottom: 5px;
}
#mono{
  font-family: "Merienda", sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  left: 10px;
  bottom: 12px;
  display: inline-block;
}


.switch{
  position: relative;
  display: inline-block;
  height: 32px;
  width: 60px;
  right: 5px;
  float: right;
  top: 3px;
}
.checkbox{
  display: none;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: lightgray;
  /* -webkit-transition: .4s; */
  transition: .4s;
  border-radius: 5px;
}
.slider:before{
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 5px;
}
.slider:before :hover{
  background-color: #e5e7e9;
}
.checkbox:checked + .slider{
  background-color: #5dade2;
}
.checkbox:checked + .slider:before{
  transform: translateX(25px);
}




.footer{
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 0;
  background-color: #a569bd;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .3);
}
.footer a{
  position: relative;
  left: 20px;
  top: 8px;
  text-decoration: none;
  font-family: "Lucida Console", monospace;
  color: white;
  font-weight: 700;
}
.footer a:hover{
  text-decoration: underline;
}
